.header {
    background-color: #A30029;
    color:white;
    height:80px;
    width:100%;
    display: flex;
    padding-top: 0;
    flex-direction: row;
    margin-top: 0;
}
.logo {
    height:75px;
    width:120px;
    padding-left: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.header-items {
    display: flex;
    flex-direction: row;
    margin-left: 850px;
    text-decoration: none;
    gap:30px;
    color: white;
    font-size: 20px;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ls {
    background-color: white;
    color:#A30029;
    justify-items: center;
    padding-left: 8px;
    align-content: center;
    border-radius: 2px;
    height:30px;
    width:110px;
}
.header-items a{
    text-decoration: none;
    color:white;
}