.about {
    display: flex;
    flex-direction:column;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-content {
    display: flex;
    flex-direction: row;
}

.top-content-left,.top-content-right{
    align-items: center;
    margin-top: 40px;
    margin-left: 230px;
    padding: 10px;
    height:290px;
    width: 300px;
    border:0.5px solid black;
    box-shadow: 5px 5px 5px #A30029;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:0;
    align-items: center;
    justify-content: center;

}
.top-content-left:hover , .top-content-right:hover, .row1 div:hover, .row2 div:hover {
     transform: 0.3s;
     transform:scale(1.2);
}
.top-content-left img,.top-content-right img{
     height:120px;
     width:200px;
}
.top-content-left button,.top-content-right button {
    background-color: #A30029;
    color:white;
    border-radius: 5px;
    border:none;
    height: 33px;
    font-size: 15px;
    box-shadow: 5px 5px 5px black;
}
.top-content-left button:hover,.top-content-right button:hover {
     transform: 0.3s;
     transform:scale(1.2);
}
.bottom-content {
    display: flex;
    flex-direction: column;
}
.row1,.row2 {
    display: flex;
    flex-direction: row;
}
.row1 div,.row2 div {
    border:0.5px solid black;
    box-shadow: 5px 5px 5px #A30029;
    border-radius: 10px;
    height:200px;
    width:300px;
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom:20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom-content img {
    height:50px;
    width:50px;
}