.home {
    display: flex;
    flex-direction: column;
}
.home-content {
    display: flex;
    flex-direction: row;
}
.left-content {
    padding-left:8px;
}
.q1 {
    font-size:60px;
}
.q2 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right-content {
    padding-top: 2px;
}
.home-img {
    margin-left: 250px;
    height:300px;
    width:400px;
}
.trust-list{
    margin-left: 150px;
    display:flex;
    gap:35px;
    margin-top:32px;
    list-style:none;
    padding:0;
    color:var(--muted);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.trust-list li {
    border-color: black;
}
.stats{
  display:flex;
  gap:12px;
  max-width:var(--max-width);
  margin:18px auto;
  padding:12px;
}
.stat{
  flex:1;
  background:var(--card);
  padding:18px;
  border:0.7px solid black;
  border-radius:10px;
  text-align:center;
  box-shadow: 5px 5px 5px #A30029;
}
.stat-number{
    font-size:30px;
    font-weight:700;
    color:var(--brand);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.stat-label{
    color:var(--muted);
    font-size:20px;
    margin-top:6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.stat:hover {
    transform: 0.2s;
    transform: scale(1.1);
}